@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-basis: 288px;
  background-color: #FBFDFE;
  color: #00AD8C;
  font-weight: 500;
  font-size: 14px;
}

.sidebar img {
  width: 160px;
  height: 30px;
  margin-top: 25px;
  margin-left: 24px;
}

.sidebar .menu-item {
  display: flex;
  align-items: center;
  height: 64px;
}

.sidebar .menu-item:before {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background-color: #00AD8C;
  border-radius: 4px;
}

.sidebar .menu-item img {
  width: 24px;
  height: 14px;
  margin: auto 0;
  margin-left: 21px;
  margin-right: 15px;
}

.main-content {
  width: 100%;
}

.main-content header {
  height: 64px;
  border-bottom: 1px solid #DFE2EB;
}

.main-content h3 {
  font-size: 24px;
  color: #021B51;
}

.main-content p {
  color: #727D94;
}

.notas-fiscais-label {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 48px;
  margin-bottom: 19px;
  gap: 5px;
}


/* TODO: Refactor table to use grid layout to align items correctly and make it reponsive */

table {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 2rem;
  text-align: left;
  /* border-spacing: 1rem; */
}

table tr {
  display: flex;
  align-items: center;
  /* gap: 80px; */
  /* justify-content: flex-start; */
}

table tr:not(:first-child) {
  /* box-shadow: 0 0 0 1px #DFE2EB; */
  border: 1px solid #DFE2EB;
  border-radius: 6px;
  padding: 12px;
}

table tr th {
  color: #A1A8B8;
  font-size: 12px;
  margin-left: 15px;
  /* padding-left: 30px;
  padding-right: 70px; */
}

table tr td {
  color: #4D5566;
  font-size: 14px;
  font-weight: 500;
  /* padding: 12px;
  padding-left: 30px; */
}

table tr td:last-child {
  font-weight: 700;
}

table tr td:nth-last-child(-n+2) {
  color: #00AD8C;
}

table tr button {
  font-size: 12px;
  border: 1px solid #CAD3FF;
  border-radius: 24px;
  padding: 8px 29px;
  color: #727D94;
  font-size: 12px;
  font-weight: 700;
  background-color: transparent;
}
